header {
    display: flex;
    flex-direction: column;
    background-color: azure;
}

header ul{
    align-items: center;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

header a{
    text-decoration: none;
    color: rgb(41, 128, 165);
}

.main-page{
    text-align: center;
    background-color: azure;
}

.main-page p{
    padding: 0 100px;
    background-color: azure;
}

button{
    background-color: rgb(50, 177, 184);
    border-radius: 10px;
    border: none;
    font-size: 15px;
    padding: 10px 15px;
}

button:hover{
    background-color: rgb(44, 18, 115);
    border-radius: 10px;
    border: none;
    font-size: 15px;
    padding: 10px;
}

.high-scores{
    text-align: center;
}

.high-scores button{
    margin: 5px;
}
